.about {
  background-color: var(--background);
}

.about h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--dark);
  position: relative;
}

.about h2::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--primary);
  margin: 1rem auto 0;
}

.about-content {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.about-text {
  flex: 1;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.627);
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px;
}

.about-image {
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.about-image img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease;
}

.about-image:hover img {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .about-content {
    flex-direction: column;
  }
  
  .about-image {
    order: -1;
    max-width: 500px;
    margin: 0 auto 2rem;
  }
}